layout {
    gaps 4

    border {
        width 2
    }

    focus-ring {
        width 2
    }
}

window-rule {
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

layer-rule {
    exclude namespace="^dms:bar$"
    background-effect {
        xray false
    }
}
