input {
    keyboard {
        xkb {
            layout "us"
            variant "intl"
        }

        numlock
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"

    warp-mouse-to-focus mode="center-xy"
}
