[Desktop Entry]
Type=Application
Name=Trocar fonte
Comment=Aplica a mesma fonte em terminal, walker, waybar e kitty
Icon=preferences-desktop-font
Exec=uwsm app -- xdg-terminal-exec /home/tom/.local/scripts/font-set.py
Terminal=false
StartupNotify=false
NoDisplay=false
Categories=Settings;DesktopSettings;
