[Desktop Entry]
Name=Hyprsunset
Comment=Alterna o filtro de luz azul (hyprsunset)
Exec=/home/tom/.local/scripts/hypr_sunset.sh
Icon=hyprsunset
Terminal=false
Type=Application
Categories=Utility;
