[Desktop Entry]
Name=Modo Monitor
Comment=Ativa o monitor DP-1 e desativa a TV HDMI
Exec=/home/tom/.local/scripts/modo-monitor.sh
Icon=video-display
Terminal=false
Type=Application
Categories=Settings;Hardware;
