[Desktop Entry]
Type=Application
Name=Instalar pacote
Comment=Instalar pacotes com yay + fzf
Icon=utilities-terminal
Exec=foot -e /home/tom/.local/scripts/pkg-install
Terminal=false
StartupNotify=false
NoDisplay=false
Categories=System;PackageManager;
