[Desktop Entry]
Type=Application
Name=pkg-remove
Comment=Remover pacotes instalados com fzf
Exec=foot -e /home/tom/.local/scripts/pkg-remove
Icon=utilities-terminal
Terminal=false
Categories=System;PackageManager;
