[Desktop Entry]
Name=Sunsetr
Comment=Alterna o filtro de luz azul (sunsetr)
Exec=/home/tom/.local/scripts/sunsetr.sh
Icon=night-light
Terminal=false
Type=Application
Categories=Utility;
