[Desktop Entry]
Type=Application
Name=Sunsetr
Comment=Alterna o filtro de luz azul (sunsetr)
Icon=/home/tom/.local/share/icons/sunsetr.png
Exec=/home/tom/.local/scripts/sunsetr.sh
Terminal=false
StartupNotify=false
NoDisplay=false
Categories=Utility;
