@import "colors.css";

* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: @base;
  padding: 20px;
  border: 2px solid @surface1;
}

.search-container {
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  background: @surface0;
  padding: 8px 12px;
  border-radius: 8px;
  caret-color: @blue;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.placeholder {
  color: @overlay1;
}

child:hover .item-box {
  background: @surface0;
  border-radius: 8px;
}

child:selected .item-box {
  background: @surface1;
  border-radius: 8px;
}

child:selected .item-box * {
  color: @text;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
  color: @text;
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
  color: @subtext0;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.item-quick-activation {
  margin-right: 14px;
  font-size: 14px;
  background-color: @surface2;
  color: @text;
  padding: 4px 8px;
  border-radius: 6px;
}

.current {
  font-style: italic;
  color: @mauve;
}

.keybind-hints {
  background: @mantle;
  padding: 10px;
  margin-top: 10px;
  color: @subtext0;
}
