# Baixado/gerado por plugins (fisher, autopair, sponge) e CLIs (copilot)
conf.d/hydro.fish
completions/fisher.fish
completions/copilot.fish
conf.d/autopair.fish
conf.d/sponge.fish
functions/fisher.fish
functions/copilot.fish
functions/_autopair_*.fish
functions/_sponge_*.fish
functions/sponge_filter_*.fish
functions/__git.*.fish
functions/fish_mode_prompt.fish
functions/fish_prompt.fish
fish_variables
